<!DOCTYPE html>
<html>
<head>
    <title>Map App</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
</head>
<body>
    <div id="map" style="width: 100%; height: 600px;"></div>

    <script>
        var map = L.map('map').setView([54.323293, 10.122765], 13);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
        }).addTo(map);

        // Add existing markers
        {% for marker in markers %}
            var popupContent = `<div><strong>{{ marker.label }}</strong></div><button onclick="deleteMarker({{ marker.id }})">Delete</button>`;
            L.marker([{{ marker.lat }}, {{ marker.lon }}])
                .bindPopup(popupContent)
                .addTo(map);
        {% endfor %}

        function deleteMarker(markerId) {
            if (confirm("Are you sure you want to delete this marker?")) {
                fetch(`/delete_marker/${markerId}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    }
                }).then(response => {
                    if (response.ok) {
                        location.reload();
                    }
                });
            }
        }
    </script>
</body>
</html>


